
@keyframes transitionIn {
  from {

  }

  to {
    z-index: 0;
    opacity: 0;
    transform: rotateX(-10deg);
  }
}

@keyframes slideInLeft {
  from {
    z-index: 0;
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }

  to {
    z-index: 0;
    opacity: 0;
    transform: translateX(-200px);
  }
}

.animationOnFirst {
  opacity: 0;

  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animationOnStart {
  opacity: 0;

  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.animationOnExit {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
