/* slide */
.slide {
  width: 100%;
  padding-right: 385px;
}

.slide_inner {
  width: 100%;
}

/* video and paragraph */
.course_video video {
  width: 740px;
}

.course_video {
  width: 740px;
}

.course_box {
  width: 100%;
  padding-left: 320px;
}

.course_aligner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lyrics_box {
  border-radius: 10px;
  max-width: 320px;
  background-color: #FCECA0;
  max-height: 600px;
  overflow: auto;
  padding: 20px;
  padding-bottom: 0;
}

.lyrics_aligner {
  position: fixed;
}

.lyrics {
  font-size: 17px;
}

.paragraph {
  margin-bottom: 20px;
}

/* course pathway */
.course_roadmap {
  position: fixed;
  top: 0;
  right: 0;

  height: 100vh;
  width: 100%;
  max-width: 385px;

  background-color: white;
  border: 1px solid #449E40;

  overflow: auto;
}

.roadmap_title {
  text-align: center;
  font-size: 20px;
  color: white;

  padding: 20px;
  background-color: #449E40;
}

.course {
  padding: 16px 0;
}

.course_name {
  padding: 14px 12px;
  font-weight: bold;
  font-size: 15px;
}

.course_steps {
  font-size: 15px;
}

.course_step {
  padding: 14px 20px 14px 16px;

  position: relative;
  display: flex;
  align-items: center;

  transition: .2s;
  cursor: pointer;
}

.course_step:hover {
  background-color: #EDEDED;
}

.selected_step {
  background-color: #EDEDED;
}

.course_step p {
  max-width: 235px;
}

.step_duration {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.course_status {
  position: absolute;
  right: 0;
  padding: 0 5px;
  margin-right: 10px;

  font-size: 10px;
  font-weight: bold;
  text-align: center;

  background-color: #DDDDDD;
  border: 1px solid #B5B5B5;
  border-radius: 5px;
}

.checkbox-icon {
  margin-right: 10px;
}

/* test box */
.test_box {
  max-width: 90%;
}

.test_title {
  text-transform: none;
  margin: 30px 0;
}

.questions_box {
  padding-top: 20px;
}

.test_question {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.answer_box {
  padding-left: 20px;
}

.answer_node {
  padding: 5px 10px;
  font-size: 20px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #449E40;
  border-radius: 10px;
}
