/* slide */
.slide {
  width: 100%;
  padding-right: 350px;
  position: relative;
}

.slide_inner {
  width: 100%;
  padding-top: 68px;
}

/* video and paragraph */
.video_container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 320px;
}

.course_video iframe {
  width: 100%; 

}

.course_video {
  width: 85%;
}

.course_box {
  margin-top: 35px;
  width: 100%;
  padding-left: 320px;
  font-family: 'Montserrat', sans-serif;
}

.course_aligner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.lyrics_box {
  background-color: #FCECA0;
  max-width: 320px;
  max-height: 100vh;
  overflow: auto;
  padding: 88px 20px 20px 20px;
  padding-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.lyrics_aligner {
  position: absolute;
  top:0;
  left:0;
  font-family: 'Montserrat', sans-serif;
}

.lyrics {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.paragraph {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* course pathway */
.course_roadmap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  margin-top: 68px;

  height: 100vh;
  width: 100%;
  max-width: 350px;

  background-color: #4BAF47;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}

.roadmap_title {
  text-align: center;
  font-size: 40px;
  color: #333;

  padding: 18px;
  background-color: #FCECA0;
  font-family: 'Caveat', cursive;
}

.course {
  padding: 16px 0;
  color: white;
}

.course_name {
  padding: 14px 12px;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.course_steps {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.course_step {
  padding: 14px 20px 14px 16px;
  min-height: 60px;

  position: relative;
  display: flex;
  align-items: center;

  transition: .2s;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

p.c:hover {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.course_step p {
  max-width: 235px;
  font-family: 'Montserrat', sans-serif;
}

.step_duration {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.course_status {
  position: absolute;
  right: 0;
  padding: 0 5px;
  margin-right: 10px;

  font-size: 10px;
  font-weight: bold;
  text-align: center;

  background-color: #fff;
  color: black;
  border: 1px solid #B5B5B5;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.checkbox-icon {
  margin-right: 10px;
}

/* test box */
.test_title {
  text-transform: none;
  margin: 30px 0;
}

.test_header {
  max-height: 100px;
}

.questions_box {
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.test_question {
  padding: 20px;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

.answer_box {
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
}

.answer_node {
  padding: 5px 10px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #449E40;
  border-radius: 10px;
}

.wrapper
{
   width: 100%;
   height: 100%;
   display: table;
}
 
.main
{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
}
 
.quiz-frame
{
   border: 0;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
.quiz__head
{
  font-size: 20pt;
  margin-top: 52px;
  margin-bottom: 34px;
}
 
.head__content
{
   padding: 5px;
}
 
.quiz__body
{
   margin: 10px;
}
 
.quiz__footer
{
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
}
 
.footer__content
{
   padding: 5px;
}
 
.button
{
   border-radius: 10px;
   background: #4BAF47;
   padding: 10px 25px;
   width: 63%;
   min-height: 65px;
   font-size: 20px;   
   display: block;
   margin: 0 auto;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
}


.button-noniteractable {
  border: 1px solid #4BAF47;
  border-radius: 10px;

  width: 63%;
  min-height: 65px;
  padding: 10px 25px;
  margin: 0 auto;
  display: block;

  background-color: #fff;
  color: black;
  font-size: 20px;
}

.button-hover:hover {
  border: 1px solid #4BAF47;
  background-color: inherit;
  color: #4B9847;
  transition: 0.2s;
}


.selected_wrong {
  background-color: red;
}

.selected_correct {
  background-color: blue;
}

.cancel-hover:hover {
  border: none;
  background-color: inherit;
  transition: 0;
}