@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Mali', cursive;
  /* font-family: 'Ubuntu', sans-serif; */

  /* font properties */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: black;
}

*,
*:before,
*:active {
  box-sizing: border-box;
  margin: 0;
}

.hidden {
  opacity: 0;
}

.sectiondiv {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}


.sectiondiv::before,
.sectiondiv::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: url('../assets/imgs/bckg_img_1.png');
  background-position: top left;
  background-repeat: no-repeat;
}

.sectiondiv::after {
  right: 0;
  background-position: top right;
  background-image: url('../assets/imgs/bckg_img_2.png');
}

.container {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_inner {
  margin: 0 auto;
}

.container_title {
  font-size: 26px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 113px;
}


/* contents */
.container_contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  max-width: 300px;
  margin: 0 25px;

  display: inline-block;

  text-align: center;
  font-size: 15px;

  border: 1px solid #D0D0D0;
  border-radius: 15px;

  transition: .2s;

}

.content:hover {
    transform: scale(1.1);
}

.content_img {
  width: 300px;
  height: 192px;
  border-radius: 15px 15px 0 0;

  transition: .2s;
}

.content_text {
  padding: 20px;
  width: 300px;
  height: 160px;
}

/* grid */
.grid {
  border: 2px solid #D0D0D0;
  border-radius: 7px 7px 0 0;

  width: 100%;
  max-width: 700px;
}

.grid_text {
  margin: 50px 40px;
  font-family: 'Ubuntu', sans-serif;
}

.grid_title {
  background-color: #FCECA0;
  padding: 30px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
}

.grid_button {
  font-family: inherit;
  font-size: 25px;
  color: white;

  /* dimenstions of button */
  border: 2px solid transparent;
  padding: 17px 63px;

  background-color: #4BAF47;
  border-radius: 0 0 7px 7px;

  width: 100%;
}

.grid_button:hover {
  border: 2px solid #4BAF47;
  background-color: inherit;
  color: #4B9847;
  transition: 0.2s;
  font-weight: bold;
}

/* button */
.container_bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.bottom_title {
  margin: 30px 0;
  font-size: 22px;
}

.container_button {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

.button {
  font-family: inherit;
  font-size: 25px;
  color: white;

  /* dimenstions of button */
  border: 1px solid transparent;
  padding: 17px 63px;

  background-color: #4BAF47;
  border-radius: 7px;
}

.button:hover {
  border: 1px solid #4BAF47;
  background-color: inherit;
  color: #4B9847;
  transition: 0.2s;
}

.button_link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
