@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Mali', cursive;
  /* font-family: 'Ubuntu', sans-serif; */

  /* font properties */
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  color: black;
}

*,
*:before,
*:active {
  box-sizing: border-box;
  margin: 0;
}

@keyframes transitionIn {
  from {

  }

  to {
    z-index: 0;
    opacity: 0;
    transform: rotateX(-10deg);
  }
}

@keyframes slideInLeft {
  from {
    z-index: 0;
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    z-index: 1;
    opacity: 1;
    transform: translateX(0);
  }

  to {
    z-index: 0;
    opacity: 0;
    transform: translateX(-200px);
  }
}

.hidden {
  opacity: 0;
}

.animationOnFirst {
  opacity: 0;

  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animationOnStart {
  opacity: 0;

  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

.animationOnExit {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

/* transition logic */
.hidden {
  opacity: 0;
  z-index: -100;
}

.show {
  opacity: 1;
  z-index: inherit;
}

.sectiondiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  position: relative;
}

.container {
  width: 100%;
  max-width: 700px;

  position: absolute;
  left: 30%;
}

.container_text {
  margin-bottom: 20px;
}

.container_button {
  margin: 55px 0;
}

.button {
  font-family: inherit;
  font-size: 25px;
  color: white;

  /* dimenstions of button */
  border: 1px solid transparent;
  padding: 17px 63px;

  background-color: #4BAF47;
  border-radius: 7px
}

.button:hover {
  border: 1px solid #4BAF47;
  background-color: inherit;
  color: #4B9847;
  transition: 0.2s;
}

.button_link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
